
.button{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border: 2px solid var(--border-color-second);
    border-radius: 30px;
    padding: 12px;
}
@media (max-width: 900px) {
    .button{
        border-radius: 30px;
        padding: 5px;
    }
}

.button.painted{
    border: 2px solid var(--bg-color-active);
    background-color: var(--bg-color-active);
}

.button-icon{
    max-width: 16px;
    max-height: 16px;
    padding: 0;
    margin: 0;
}
@media (max-width: 900px) {
    .button-icon{
        max-width: 20px;
        max-height: 20px;
        padding: 0;
        margin: 0;
    }
}

.button-icon svg{
    width: 100%;
    height: 100%;
}

a.button:hover{
    transition: var(--transition);
}

a.button:hover{
    border-color: var(--border-color-main);
    background: var(--border-color-main);
}