
.footer {
    grid-row-start: 2;
    border: 4px solid var(--bg-color-active);
    border-bottom:none;
    border-bottom: none;
    border-radius: 65px 65px 0 0;
    padding-top: 36px;
    padding-bottom: 23px;
    background-color: var(--footer-transparent);
    backdrop-filter: blur(5px);
}
@media (max-width: 900px) {
    .footer {
        border-radius: 53px 53px 0 0;
        border: 2px solid var(--bg-color-active);
        padding: 20px 7px 26px 7px;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 16px;
}
@media (max-width: 900px) {
    .footer-container {
        font-size: 14px;
        flex-direction: column;
        align-items: flex-start;
    }
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
@media (max-width: 1000px) {
    .links {
        gap: 30px;
    }
}
@media (max-width: 900px) {
    .links {
        flex-direction: column;
        gap: 4px;
        margin-bottom: 20px;
    }
}

.link a {
    transition: var(--transition);
}

.link:hover a {
    color: var(--border-color-main);
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
@media (max-width: 900px) {
    .social-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 9px;
    }
}

.socials {
    display: flex;
    gap: 8px;
}
@media (max-width: 900px) {
    .socials {

        gap: 3px;
    }
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 32px;
    height: 32px;
    background: var(--bg-color-active);
    border-radius: 50%;
    overflow: hidden;
}

.social-icon:has(.border:hover) {
    background: var(--bg-color-hover);
}
@media (max-width: 900px) {
    .social-icon {
        transform: scale(0.8);
    }
}
.sprite{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.border .sprite svg{

    width: 60%;
    height: 60%;
}

.border .sprite svg path{
    fill: var(--black);
}

.border:hover .sprite svg path{
    fill: var(--bg-color);
}

.border {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid var(--bg-color);
    cursor: pointer;
    
}

.border::before,
.border::after {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 3px;
    background: var(--bg-color-active);
    z-index: 0;
    transition: var(--transition);
}

.border::before {
    transform: rotateZ(45deg);
}

.border::after {
    transform: rotateZ(-45deg);
}

.border div {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.border:hover div {
    transform: rotateY(360deg);
}

.border:hover div {
    color: #ebf29d;
}

.border:hover::before {
    background: var(--bg-color-hover);
    transform: rotateZ(180deg);
}

.border:hover::after {
    background: var(--bg-color-hover);
    transform: rotateZ(90deg);
}

@media (max-width: 900px) {
    .desktop {
       display: none;
    }
    .mobile{
        display: flex;
    }
}
@media (min-width: 901px) {
    .desktop {
       display: flex;
    }
    .mobile{
        display: none;
    }
}