/* blocking-layer start */
.blocking-layer {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--black);
    z-index: 1;
}

.blocking-layer.active {
    display: none;
}
@media (max-width: 900px) {
    .blocking-layer.active {
        display: flex;
    }
}
/* blocking-layer end */

.header {
    position: fixed;
    width: calc(100% - 20px);
    max-width: 1640px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 2;
}

/*.container-menu  start  */
.container-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 15px;
    padding: 21px 46px;
    border: 4px solid var(--border-color-main);
    border-radius: 64px;
    font-size: 15px;
    background-color: var(--black);
}
@media (max-width: 900px) {
    .container-menu {
        margin-top: 10px;
        padding: 9px 19px;
        gap: 12px;
        border-radius: 64px;
        font-size: 15px;
        border-width: 2px;
    }
}
/*.container-menu  end  */

/*.nav-menu  start  */
.nav-menu {
    margin-right: 230px;
}

@media (max-width: 1400px) {
    .nav-menu {
        margin-inline: auto;
    }
}

@media (max-width: 900px) {
    .nav-menu {
        display: none;
    }
}

.nav-menu ul {
    display: flex;
    text-wrap: nowrap;
    gap: 37px;
}

@media (max-width: 1000px) {
    .nav-menu ul {
        gap: 15px;
    }
}

/*.nav-menu  end  */

/* стилизация пунктов меню при наведении */
.nav-ul li a {
    transition: var(--transition);
}

.nav-ul li:hover a {
    color: var(--border-color-second);
}

/* .action-menu  start */
.action-menu {
    display: flex;
    gap: 17px;
}

.action-buttons {
    display: flex;
    gap: 17px;
}
@media (max-width: 900px) {
    .action-buttons {
        display: none;
    }
}
/* .action-menu  end */

/*language start  */
.language .lang {
    background-color: transparent;
}
.language .lang:hover {
    color: var(--border-color-second);
}
.language .button{
    position: relative;
    display: flex;
    min-width: 74px;
}
@media (max-width: 900px) {
    .language .button{
        min-width: 10px;
    }
}

.mobile-language {
    display: none;
}
@media (max-width: 900px) {
    .mobile-language {
        display: block;
    }
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
/*language end*/

.burger-menu {
    position: relative;
    display: none;
    width: 20px;
    height: 18px;
    cursor: pointer;
    transition: var(--transition);
}
@media (max-width: 900px) {
    .burger-menu {
        display: block;
    }
}

.burger-menu span {
    position: absolute;
    display: flex;
    transform: translateY(-50%) scaleZ(1);
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
}

.burger-menu::after,
.burger-menu::before {
    content: "";
    position: absolute;
    display: flex;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: var(--transition);
}

.burger-menu::before {
    top: 0px;
}

.burger-menu::after {
    bottom: 0px;
}

.burger-menu.active span {
    transform: translateY(-50%) scaleZ(0);
}
.burger-menu.active::before {
    transform: translateY(8px) rotateZ(-45deg);
}
.burger-menu.active::after {
    transform: translateY(-8px) rotateZ(45deg);
}
.nav-mobile-ul {
    display: none;
    flex-direction: column;
    margin-top: 30px;
    gap: 4px;
}
.nav-mobile-ul li {
    border: 2px var(--border-color-main) solid;
    padding: 12px 19px;
    font-size: 18px;
    border-radius: 35px;
}

.nav-mobile-ul .button {
    margin-top: 3px;
    justify-content: center;
    width: 100%;
    padding: 10px 19px;
    font-size: 16px;
}
.nav-mobile-ul .button {
    margin-top: 26px;
}
.nav-mobile-ul .button:last-child {
    margin-top: 0px;
}
@media (max-width: 900px) {
    .nav-mobile-ul {
        display: flex;
    }
}
