.main {
    grid-row-start: 3;
    display: flex;
    position: relative;
}

.main-back {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    height: 100%;
    margin-top: 100px;
}
@media (max-width: 900px) {
    .main-back {

        flex-direction: column;
        align-items: center;
        /* position: absolute; */
        justify-content: space-between;
    }
}

.spot-first {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    width: 81px;
    height: 466px;
    transform: rotateZ(-54deg);
    border-radius: 100%;
    background: linear-gradient(
        180deg,
        #f947bc 0%,
        rgba(249, 71, 124, 0.4) 100%
    );
    filter: blur(100px);
}

.spot-second {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    width: 240px;
    height: 240px;
    transform: rotateZ(-54deg);
    border-radius: 100%;
    opacity: 0.5;
    background: linear-gradient(255.96deg, #f99247 0%, #f29da2 100%);
    filter: blur(100px);
}

.main-center {
    display: flex;
    position: relative;
    margin: 0 auto;
    top: -50px;
    left: 70px;
    gap: 3px;
    width: 330px;
    height: calc(100vh - 140px);
    mask-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 5%,
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 0.781) 70%,
        rgba(0, 0, 0, 0.714) 95%,
        rgba(0, 0, 0, 0) 100%
    );
    overflow: hidden;
}
.main-center-mob{
    display: none;
}
@media (max-width: 900px) {
    .main-center {
        display: none; 
    }
    .main-center-mob{
        display: flex;
        flex-direction: column;
        gap: 3px;
        position: relative;
        top: 300px;
        width: 200%;
        height: 160px;
        mask-image: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 5) 20%,
            rgba(0, 0, 0, 0.9) 50%,
            rgba(0, 0, 0, 0.5) 80%,
            rgba(0, 0, 0, 0) 100%
        );
    }
    .mob-line1,.mob-line2,.mob-line3{
        position: relative;
        width: 100%;
        height: 50px;
        background-repeat: repeat-x;
        background-size: auto;
        /* background-size: 100%; */
    }
    .mob-line1 {
        left: 0;
        background-image: url("/src/img/main/mob1.png");
        animation: moveLeft 15s ease-in-out infinite alternate;
    }
    
    .mob-line2 {
        top: 5px;
        background-image: url("/src/img/main/mob2.png");
        animation: moveRight 15s ease-in-out infinite alternate;
    }
    
    .mob-line3 {
        top: 5px;
        background-image: url("/src/img/main/mob3.png");
        animation: moveLeft 15s ease-in-out infinite alternate;
    }
}

.line1,.line2,.line3{
    display: flex;
    position: relative;
    width: 100px;
    background-repeat: repeat-y;
    background-size: auto;
    background-size: 100%;
}

.line1 {
    left: 0;
    background-image: url("/src/img/main/line1.png");
    animation: moveDown 15s ease-in-out infinite alternate;
}

.line2 {
    left: 5px;
    background-image: url("/src/img/main/line2.png");
    animation: moveUp 15s ease-in-out infinite alternate;
}

.line3 {
    left: 10px;
    background-image: url("/src/img/main/line3.png");
    animation: moveDown 15s ease-in-out infinite alternate;
}
@keyframes moveDown {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(25px);
    }
}
@keyframes moveUp {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-25px);
    }
}
@keyframes moveLeft {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-25px);
    }
}
@keyframes moveRight {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(25px);
    }
}

.main-front {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
@media (max-width: 900px) {
    .main-front {
        align-items: center;
        flex-direction: column;
        margin-top: 100px;

    }
}
@media (max-height: 1050px) and (min-width: 901px) {
    .main-front {
        align-items: center;

    }
}

.main-info {
    position: relative;
    top: 297px;
    left: 9px;
    margin-top: 110px;
}
@media (max-width: 900px) {
    .main-info {
        flex-direction: column;
        top: 0px;
        left: 0px;
        margin-top: 0px;
    }
}
@media (max-height: 1050px) and (min-width: 901px){
    .main-info {
        margin-top: 4px;
        top: 0px;

    }
}

.main-info h1 {
    font-size: 94px;
    line-height: 96px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-weight: 500;
}
@media (max-width: 900px) {
    .main-info h1 {
        font-size: 46px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 0px;
        margin-bottom: 20px;
        font-weight: 500;
        margin-top: 39px;
    }
}

.main-info h1 b {
    font-weight: 500;
    color: var(--bg-color-active);
}

.main-info h2 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 44px;
    color: var(--text-unimportant-color);
}
@media (max-width: 900px) {
    .main-info h2 {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 20px;
    }
}

.main-info .button {
    display: inline-flex;
    text-transform: uppercase;
    padding: 20px 74px;
    border-radius: 74px;
}
@media (max-width: 900px) {
    .main-info .button {
        justify-content: center;
        padding: 14px ;
        font-size: 18px;
        width: 100%;
    }
}


.blub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 531px;
    position: relative;
    top: 136px;
    left: 7px;
    margin-top: 110px;
   
}

@media (max-width: 900px) {
    .blub-container {
        margin-top: 230px;
        top: 0px;
        left: 0px;
    }
}
@media (max-height: 1050px) and (min-width: 901px) {
    .blub-container {
        
        top: 0px;

    }
}

.blub-title {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 17px;
}
@media (max-width: 900px) {
    .blub-title {
        font-size: 30px;
        margin-bottom: 17px;
    }
}

.blub-content-border {
    border: 3px solid var(--border-color-main);
    background-color: var(--blub-transparent);
    backdrop-filter: blur(5px);
    border-radius: 100px;
    padding-right: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
@media (max-width: 900px) {
    .blub-content-border {
        border-radius: 50px;
        padding-right: 2px;
        
    }
}

.blub-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    height: 597px;
    padding: 20px 22px 20px 20px;
    overflow: auto;
	overscroll-behavior: contain;
}
@media (max-width: 900px) {
    .blub-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        height: 420px;
        padding: 10px 5px 10px 8px;
    }
}

.blub-article {
    background-color: var(--bg-color);
    padding: 18px 60px 9px;
    line-height: 28px;
    border-radius: 100px;
    transition: var(--transition);
    /* text-wrap: balance; */

}
@media (max-width: 900px) {
    .blub-article {
        padding: 14px 34px 13px;
        line-height: 20px;
        border-radius: 40px;
        font-size: 16px;
    }
}

.blub-article:hover {
    background-color: var(--bg-color-active);
}

.blub-article__date {
    margin-top: 10px;
    font-size: 14px;
}
@media (max-width: 900px) {
    .blub-article__date {
        margin-top: 5px;
        font-weight: 200;
        font-size: 12px;
        letter-spacing: 1px;
    }
}

/* стилизация  scrollbar*/

.blub-content::-webkit-scrollbar {
    width: 7px;
    position: relative;
    border-radius: 20px;
}
@media (max-width: 900px) {
    .blub-content::-webkit-scrollbar {
        width: 5px;
        position: relative;
        border-radius: 20px;
    }
}

.blub-content::-webkit-scrollbar-track {
    background: #ff9a7b2a;
    border-radius: 20px;
    
}

.blub-content::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-active);
    border-radius: 20px;
}

.blub-content::-webkit-scrollbar-button:start:increment {
    height: 16%;
    display: block;
    background: transparent;
}

.blub-content::-webkit-scrollbar-button:end:increment {
    height: 17%;
    display: block;
    background: transparent;
}
