body {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-size: 24px;
    color: var(--text-color);
    font-weight: 400; 
    box-sizing: border-box;
    position: relative;
    background-color: var(--black);
}
a{
    color: var(--text-color);
    text-decoration: none;   
}
.wrapper{
    display: grid;
    grid-template-rows: 1fr auto; 
    min-height: 100vh; 
    overflow: hidden;
}
.container {
    width: 100%;
    max-width: calc(1640px + 20px) ;
    margin-inline: auto;
    padding-inline: 10px;
    display: grid;
    grid-template-rows: auto auto 1fr ; 

}

.center{
    display: flex;
    justify-content: center;
}

