:root {
    --text-color: #ffffff;
    --black: #191D0A;
    --text-unimportant-color: #ffffffac;
    --border-color-main: #f97247;
    --border-color-second: #ebf29d;
    --bg-color-default: #00000000;
    --bg-color: #311212;
    --bg-color-active: #f97247;
    --bg-color-hover: #F29DA2;
    --transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
   
    --footer-transparent: #3112128a;
    --blub-transparent: #5d5e4473;

    --mobile-width: 900px;
}
